body{
      color:#6666FF;
      text-align: center;
     background-image: url(../images/bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;}

 #header {
    background-color:rgba(252, 231, 252, 0.61);
    color: rgba(196, 13, 140, 0.92);
    text-align:center;
    padding:5px;
    border: solid;
     font-family: fantasy;
 }
  #nav {
    line-height:45px;
    background-color:rgba(252, 231, 252, 0.61);
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    position: relative;
    top:50px;
    border: solid;
    border-color: rgba(196, 13, 140, 0.92);
      font-family: fantasy;
  }
  #section {
    left: 250px;
    top: 500px;
  font-family: fantasy;
  color: #af0495;
  }

